body {
  background-color: white;
  display: flex;
  flex-direction: column;
  font-family: Roboto;
  margin: 0;
  overflow: auto;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  color: #f9faf8;
}

h2 {
  padding: 16px;
  font-weight: bold;
}

ul {
  list-style-type: none;
}

.right-banner img {
  width: 300px;
  height: 150px;
}

.box img {
  width: 300px;
  height: 300px;
  border: 4px solid #3882f6;
  border-radius: 8px;
}

#author {
  font-style: normal;
  font-size: 24px;
  font-weight: bolder;
  align-self: flex-end;
}

.right-links {
  display: flex;
  gap: 16px;
  flex-direction: row;
}

.boxes {
  text-align: center;
  display: flex;
  gap: 32px;
  flex-flow: row nowrap;
  justify-content: center;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 8px;
  width: 300px
}

.quote {
  background-color: #e5e7eb;
  color: #1f2937;
  font-style: italic;
  font-size: 36px;
  padding: 100px 300px 30px 300px;
  flex-direction: column;
  display: flex;
}

.info {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cta {
  background-color: #3882f6;
  color: #f9faf8;
  margin: 80px 200px;
  border-radius: 5px;
  padding: 50px 80px;
}

.welcome {
  background-color: #1f2937;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 0px;
}

.header {
  justify-content: space-between;
  align-items: center;
  display: flex;
  margin: 0px 200px;
}

.banner {
  display: flex;
  justify-content: space-between;
  margin: 20px 200px;
}

.left-banner {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: flex-start;
}

.right-banner {
  align-self: center;
}

.footer {
  padding: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f2937;
  color: #f9faf8;
  margin-bottom: 0;
  flex-shrink: 0;
}
