body {
  background-color: white;
  display: flex;
  flex-direction: column;
  font-family: Roboto;
  margin: 0px;
  overflow: auto;
  min-height: 100vh;
}

main {
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
  align-items:center;
  gap: 16px;
  padding: 100px 350px;
}

header {
  background-color: #1f2937;
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding: 0px 350px;
}

footer {
  padding: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f2937;
  color: #f9faf8;
  margin-bottom: 0;
  flex-shrink: 0;
}

/* Sections */

.left-banner {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: flex-start;
}

.right-banner {
  align-self: center;
}

li a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

h1 {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  color: #f9faf8;
}

.info h2 {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}

ul {
  list-style-type: none;
}

.placeholder {
  background-color: white;
  width: 400px;
  height: 200px;
}

.box div {
  width: 200px;
  height: 200px;
  background-color: white;
  border: 5px solid #3882f6;
  border-radius: 25px;
}

#author {
  font-style: normal;
  font-size: 24px;
  font-weight: bolder;
  align-self: flex-end;
}

.right-links {
  display: flex;
  gap: 16px;
  flex-direction: row;
}

.boxes {
  text-align: center;
  display: flex;
  gap: 5px;
  flex-flow: row nowrap;
  justify-content: center;
  margin: 50px 350px 100px 350px;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 5px;
  width: 250px;
  margin-bottom: 25px;
}

.quote {
  background-color: #e5e7eb;
  color: #1f2937;
  font-style: italic;
  font-size: 36px;
  padding: 100px 500px 30px 500px;
  flex-direction: column;
  display: flex;
  flex: 1;
}

.info {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
  flex: 1;
}

.cta {
  background-color: #3882f6;
  color: #f9faf8;
  margin: 80px 350px;
  padding: 50px 100px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.cta button {
  width: 150px;
  height: 50px;
  color: #f9faf8;
  font-weight: bold;
  background-color: #3882f6;
  border: 2px solid white;
  border-radius: 15px;
}
